.button_generic {
    -fx-background-color: #432918;
    -fx-background-radius: 70 70 70 70;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 100 70;
}

.button_generic:hover {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 70 70 70 70;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 100 70;
}

.button_generic:pressed {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 70 70 70 70;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 100 70;
    -fx-scale-x: 0.995;
    -fx-scale-y: 0.995;
}

.common_label_big {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 70 70 70 70;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 40px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 100 70;
}

.button_smaller {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 0 0 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 40 30;
}

.button_smaller_2 {
    -fx-background-color: #432918;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 40 30;
}

.button_smaller_2:hover {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 40 30;
}

.button_smaller_2:pressed {
    -fx-background-color: #5e3a22;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 40 30;
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.button_smaller-alert {
    -fx-background-color: #ff0000;
    -fx-background-radius: 0 0 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-size: 40 30;
}

.button_chat_combo {
    -fx-background-color: #d2ae4e;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 11px;
    -fx-text-fill: #432918;
    -fx-background-size: 30 20;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.button_chat_combo .arrow {
    -fx-background-color: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.button_chat_combo .list-cell {
    -fx-background-color: #d2ae4e;
    -fx-text-fill: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.button_chat_combo .list-cell:hover {
    -fx-background-color: #e4bd55;
    -fx-text-fill: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.button_chat_combo .list-cell:selected {
    -fx-background-color: #e4bd55;
    -fx-text-fill: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.button_textfield {
    -fx-background-color: #d2ae4e;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 11px;
    -fx-text-fill: #432918;
    -fx-background-size: 30 20;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.message_textarea {
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 13px;
    -fx-text-fill: #d2ae4e;
    -fx-background-color: #432918;
    -fx-control-inner-background: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.message_textarea:focused {
    -fx-font-family: "LT Cushion Black";
    -fx-font-size: 13px;
    -fx-text-fill: #d2ae4e;
    -fx-background-color: #432918;
    -fx-control-inner-background: #432918;
    -fx-border-color: rgba(0, 0, 0, 0);
}

.playing_field {
    -fx-background-image: url("playing_field.png");
    -fx-control-inner-background: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}